<% if current_user %>

  <h3><%= button_to 'Start a New Game', new_game_path %></h3>
  <% if @player_1_games.empty? && @player_2_games.empty? %>
    <p>You don't have any games yet!</p>
  <% else %>

    <% @player_1_games.each do |game| %>
      <p><%= "Game against #{game.player_2.name} (#{game.player_2.email}): " %>
        <% if game.current_turn == 'challenger' %>
          Your Turn
        <% else %>
          <%= "#{game.player_2.name}'s Turn" %>
        <% end %>
      </p>
    <% end %>

    <% @player_2_games.each do |game| %>
      <p><%= "Game against #{game.player_1.name} (#{game.player_1.email}): " %>
        <% if game.current_turn == 'opponent' %>
          Your Turn
        <% else %>
          <%= "#{game.player_1.name}'s Turn" %>
        <% end %>
      </p>
    <% end %>

  <% end %>
<% end %>
